.hero {
  display: flex;
  margin-top: 44px;
  justify-content: space-between; }
  .hero-ourstory-title {
    padding: 130px 0 20px 0;
    font-family: Gelion, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 64px;
    line-height: 77px;
    color: #333333; }
  .hero-ourstory-description {
    font-family: Gelion, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    color: #828282; }
  .hero-ourvision {
    position: relative;
    padding-left: 124px; }
    .hero-ourvision-img {
      z-index: 1; }
    .hero-ourvision-label {
      position: absolute;
      top: 314px;
      right: -248px;
      font-family: Gelion, sans-serif;
      font-style: normal;
      font-weight: 600;
      font-size: 96px;
      line-height: 115px;
      color: #BDBDBD;
      opacity: 0.53;
      transform: rotate(90deg); }
  .hero-choosenewbrands {
    padding-left: 130px;
    padding-top: 394px; }
    .hero-choosenewbrands-title {
      font-family: Gelion, sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 24px;
      line-height: 23px;
      color: #333333; }
    .hero-choosenewbrands p {
      font-family: Gelion, sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 150%;
      color: #828282; }

.report-mark {
  font-size: 170px;
  color: #cecece;
  opacity: 0.12;
  line-height: 168px; }

.report-part {
  margin-top: 262px;
  display: block;
  text-align: center;
  justify-content: center; }
  .report-part .report-description {
    margin-top: -140px;
    display: flex;
    justify-content: center;
    font-family: Gelion, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 23px;
    line-height: 168%;
    color: #333333; }
    .report-part .report-description p {
      max-width: 972px; }
  .report-part .report-auth .name {
    font-family: Gelion, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: #4f4f4f; }
  .report-part .report-auth .job {
    font-family: Gelion, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 9px;
    line-height: 11px;
    color: gray; }

.founder {
  display: flex;
  margin-top: 316px; }
  .founder-info {
    margin-top: 219px;
    max-width: 310px;
    margin-left: 130px; }
    .founder-info-name {
      font-family: Gelion, sans-serif;
      font-style: normal;
      font-weight: 600;
      font-size: 34px;
      line-height: 43px;
      color: #333333; }
    .founder-info-detail {
      font-family: Gelion, sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 150%;
      color: gray; }

.director {
  display: flex;
  margin-top: 150px;
  justify-content: space-between; }
  .director-info {
    margin-top: 219px;
    max-width: 310px;
    margin-right: 130px;
    margin-left: 110px; }
    .director-info-name {
      font-family: Gelion, sans-serif;
      font-style: normal;
      font-weight: 600;
      font-size: 34px;
      line-height: 43px;
      color: #333333; }
    .director-info-detail {
      font-family: Gelion, sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 150%;
      color: gray; }

.challenge-part {
  margin-top: 310px;
  margin-left: 38px;
  margin-right: 37px; }
  .challenge-part-title {
    max-width: 447px; }
    .challenge-part-title .challenge-txt {
      font-family: Arial, Helvetica, sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 17px;
      letter-spacing: 0.02em;
      color: #828282; }
    .challenge-part-title .challenge-title {
      font-family: Arial, Helvetica, sans-serif;
      font-style: normal;
      font-weight: 600;
      font-size: 36px;
      line-height: 43px;
      color: #333333; }
  .challenge-part-group {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between; }
    .challenge-part-group .challenge-part-one {
      font-family: Arial, Helvetica, sans-serif;
      font-style: normal;
      font-weight: 300;
      font-size: 18px;
      line-height: 35px;
      align-items: center;
      color: #777777;
      margin-right: 120px; }
    .challenge-part-group .challenge-part-two {
      margin-left: 41px;
      font-family: Arial, Helvetica, sans-serif;
      font-style: normal;
      font-weight: 300;
      font-size: 14px;
      line-height: 21px;
      text-align: justify;
      color: #777777; }

.passer-part {
  display: flex;
  margin-top: 259px; }
  .passer-part-description {
    margin-top: 111px;
    margin-left: 130px; }
    .passer-part-description-info {
      font-family: Arial, Helveticpxa, sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 21px;
      color: #777777;
      margin-right: 116px; }

.participate-part {
  text-align: center;
  margin-top: 254px; }
  .participate-part-title {
    margin-top: -170px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 43px;
    text-align: center;
    color: #333333; }
    .participate-part-title-txt {
      margin-bottom: 19px; }
  .participate-part-description {
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    color: #777777;
    display: flex;
    justify-content: center; }
    .participate-part-description span {
      max-width: 464px; }

.participate-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%; }
  .participate-group-one {
    display: flex;
    grid-template-columns: repeat();
    width: 100%;
    max-width: 778px;
    height: 52px;
    margin-top: 100px;
    justify-content: space-between; }
  .participate-group-two {
    display: flex;
    width: 570px;
    height: 50px;
    margin-top: 77px;
    justify-content: space-between; }
