@import "../../Variables/colors";

.hero {
  display: flex;
  margin-top: 44px;
  justify-content: space-between;

  &-ourstory {
    &-title {
      padding: 130px 0 20px 0;
      font-family: "Gelion-SemiBold", sans-serif;
      font-style: normal;
      font-weight: 600;
      font-size: 64px;
      line-height: 77px;
      color: $gray1;
    }

    &-description {
      font-family: "Gelion-Regular", sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 21px;
      color: $gray3;
    }
  }

  &-ourvision {
    position: relative;
    padding-left: 124px;

    &-img {
      position: relative;
      z-index: 10;
    }
    &-label {
      position: absolute;
      top: 136px;
      right: -54px;
      font-family: "Gelion-SemiBold", sans-serif;
      font-style: normal;
      font-weight: 600;
      font-size: 96px;
      line-height: 115px;
      color: #bdbdbd;
      opacity: 0.53;

      img {
        height: 437px;
        object-fit: contain;
      }
    }
  }

  &-choosenewbrands {
    padding-left: 130px;
    padding-top: 394px;

    &-title {
      font-family: "Gelion-Medium", sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 24px;
      line-height: 23px;
      color: #333333;
      padding-bottom: 15px;
    }

    p {
      font-family: "Gelion-Regular", sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 150%;
      color: $gray3;
    }
  }
}

.report-mark {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 170px;
  color: #cecece;
  opacity: 0.12;
  line-height: 168px;
}

.report-part {
  margin-top: 300px;
  display: block;
  text-align: center;
  justify-content: center;

  &-description {
    margin-top: -140px;
    display: flex;
    justify-content: center;
    font-family: "Gelion-Regular", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 40px;
    color: $gray1;

    p {
      max-width: 972px;
    }
  }

  &-auth {
    margin-top: 84px;

    &-name {
      font-family: "Gelion-Regular", sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 22px;
      color: $gray2;
    }

    &-job {
      font-family: "Gelion-Regular", sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 9px;
      line-height: 11px;
      color: gray;
    }
  }
}

.founder {
  display: flex;
  margin-top: 300px;

  &-info {
    margin-top: 219px;
    max-width: 310px;
    margin-left: 130px;

    &-name {
      font-family: "Gelion-SemiBold", sans-serif;
      font-style: normal;
      font-weight: 600;
      font-size: 36px;
      line-height: 43px;
      color: $gray1;
    }

    &-detail {
      font-family: "Gelion-Light", sans-serif;
      font-weight: 300;
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 17px;
      color: gray;
      margin-top: 11px;

      &-job {
        font-family: "Gelion-Regular", sans-serif;
        margin-bottom: 20px;
      }
    }
  }
}

.director {
  display: flex;
  margin-top: 150px;
  justify-content: space-between;

  &-info {
    margin-top: 219px;
    max-width: 310px;
    margin-right: 130px;
    margin-left: 110px;

    &-name {
      font-family: "Gelion-SemiBold", sans-serif;
      font-style: normal;
      font-weight: 600;
      font-size: 34px;
      line-height: 43px;
      color: $gray1;
    }

    &-detail {
      font-family: "Gelion-Light", sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 150%;
      color: gray;

      &-job {
        font-family: "Gelion-Regular", sans-serif;
        margin-bottom: 20px;
      }
    }
  }
}

.challenge-part {
  margin-top: 310px;
  margin-left: 38px;
  margin-right: 37px;

  &-header {
    max-width: 447px;

    &-txt {
      font-family: "Gelion-Regular", sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 43px;
      letter-spacing: 0.02em;
      color: $gray3;
      margin-bottom: 20px;
    }

    &-title {
      font-family: "Gelion-SemiBold", sans-serif;
      font-style: normal;
      font-weight: 600;
      font-size: 36px;
      line-height: 43px;
      color: $gray1;
    }
  }

  &-group {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    margin-top: 40px;

    &-mention {
      font-family: "Merriweather", initial;
      font-style: normal;
      font-weight: 300;
      font-size: 18px;
      line-height: 35px;
      align-items: center;
      color: #777777;
      margin-right: 120px;
    }

    &-description {
      margin-left: 41px;
      font-family: "Gelion-Light", sans-serif;
      font-style: normal;
      font-weight: 300;
      font-size: 14px;
      line-height: 21px;
      text-align: justify;
      color: #777777;
    }
  }
}

.passer {
  display: flex;
  margin-top: 280px;

  &-part {
    margin-top: 111px;
    margin-left: 130px;

    &-header {
      max-width: 447px;

      &-txt {
        font-family: "Gelion-Regular", sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 43px;
        letter-spacing: 0.02em;
        color: $gray3;
      }

      &-title {
        font-family: "Gelion-SemiBold", sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 36px;
        line-height: 43px;
        color: $gray1;
      }
    }

    &-description {
      font-family: "Gelion-Regular", sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 21px;
      color: #777777;
      margin-right: 116px;
      margin-top: 20px;
    }
  }
}

.participate-part {
  text-align: center;
  margin-top: 254px;

  &-title {
    margin-top: -170px;
    font-family: "Gelion-SemiBold", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 43px;
    text-align: center;
    color: $gray1;

    &-txt {
      margin-bottom: 19px;
    }
  }

  &-description {
    font-family: "Gelion-Regular", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    color: #777777;
    display: flex;
    justify-content: center;

    span {
      max-width: 464px;
    }
  }
}

.participate-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 87px;
  margin-bottom: 166px;

  &-icon {
    background-repeat: no-repeat;
    img {
      visibility: hidden;
      object-fit: contain;
    }

    &:hover {
      img {
        visibility: visible;
      }
    }
  }

  &-one {
    display: flex;
    grid-template-columns: repeat();
    width: 100%;
    max-width: 778px;
    height: 52px;
    justify-content: space-between;

    .eubankImg {
      background-image: url("../../Assets/images/eubank-passive.png");
    }

    .bredImg {
      background-image: url("../../Assets/images/bred-passive.png");
    }

    .bpiImg {
      background-image: url("../../Assets/images/bpi-passive.png");
    }
  }

  &-two {
    display: flex;
    width: 570px;
    margin-top: 77px;
    justify-content: space-between;

    img {
      height: 50px;
    }

    .angelImg {
      background-image: url("../../Assets/images/angel-passive.png");
    }

    .laImg {
      background-image: url("../../Assets/images/la-passive.png");
    }
  }
}
