@import '../../Variables/colors';

.footer {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  padding-top: 100px;
  padding-bottom: 120px;
  padding-left: 108px;
  font-family: Arial, Helvetica, sans-serif;
  border-top: solid 1px #ececec;

  &-logo-part {
    padding-top: 20px;
    display: block;

    &-logo {
      font-family: initial;
      font-weight: 400;
      font-size: 22px;

      b {
        font-family: 'Gelion-Black', sans-serif;
        font-weight: 600;
      }
    }
  
    &-social-links {
      display: flex;
      height: 10px;
      max-width: 80px;
      justify-content: space-between;
      margin-top: 16px;
      margin-bottom: 27px;

      div {
        display: flex;
        align-items: center;
        justify-content: center;

        a {
          color: $gray5;

          &:hover {
            color: #007bff;
          }
        }
      }

      i {
        font-size: 16px;
      }
    }

    &-copyright {
      font-family: 'Gelion-Regular',sans-serif;
      font-size: 9px;
      font-family: 400;
      line-height: 11px;
      max-width: 166px;
      color: $gray1;

      i {
        font-size: 6px;
        padding-right: 3px;
      }
    }
  }

  &-social-link-group {
    padding-top: 5px;
    padding-left: 50px;
    font-family: 'Gelion-Regular',sans-serif;

    &-header {
      font-size: 13px;
      font-style: normal;
      line-height: 23px;
      color: $gray1;
      padding-bottom: 20px;
    }

    &-links {

      div {
        display: flex;
        color: $gray2;
        line-height: 23px;
        padding-bottom: 3px;
        font-size: 12px;
        align-items: center;
      }
    }
  }

  &-choose-country{
    padding-left: 50px;
  } 
  
  a {
    text-decoration: none;
    
    span {
      color: $gray2;
    }
  }
}