.footer {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  padding-top: 100px;
  padding-bottom: 120px;
  padding-left: 108px;
  font-family: Arial, Helvetica, sans-serif; }
  .footer-logo-part {
    padding-top: 20px;
    display: block; }
    .footer-logo-part-logo {
      font-size: 22px; }
    .footer-logo-part-social-links {
      display: flex;
      height: 10px;
      max-width: 80px;
      justify-content: space-between;
      color: #e0e0e0;
      margin-top: 16px;
      margin-bottom: 27px; }
      .footer-logo-part-social-links-linkedin {
        font-size: 10px; }
      .footer-logo-part-social-links div {
        display: flex;
        align-items: center;
        justify-content: center; }
      .footer-logo-part-social-links i {
        font-size: 10px; }
    .footer-logo-part-copyright {
      font-size: 9px;
      line-height: 11px;
      max-width: 166px;
      color: #333333; }
      .footer-logo-part-copyright i {
        font-size: 6px;
        padding-right: 3px; }
  .footer-social-link-group {
    padding-top: 5px;
    padding-left: 50px; }
    .footer-social-link-group-header {
      font-size: 13px;
      font-style: normal;
      line-height: 23px;
      color: #333333;
      padding-bottom: 20px; }
    .footer-social-link-group-links div {
      display: flex;
      color: #4f4f4f;
      height: 23px;
      padding-bottom: 3px;
      font-size: 12px;
      align-items: center; }
  .footer-choose-country {
    padding-left: 50px; }
  .footer a {
    text-decoration: none; }
    .footer a span {
      color: #4f4f4f; }
