.header {
  display: flex;
  height: 76px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; }

.logo {
  display: flex;
  font-size: 23px;
  cursor: pointer; }
  .logo b {
    font-family: Arial, Helvetica, sans-serif; }
  .logo .brand-tail {
    visibility: hidden; }
  .logo a {
    text-decoration: none; }
    .logo a span {
      color: #333333; }
  .logo:hover .brand-tail {
    visibility: visible; }

.d-inline-block .btn {
  padding: 0;
  border: none;
  background-color: white;
  color: #333333; }
  .d-inline-block .btn:hover {
    color: #333333;
    background-color: white;
    border: none; }

.d-inline-block .dropdown-menu {
  padding: 0;
  border: none;
  line-height: 16px;
  top: 1px; }
  .d-inline-block .dropdown-menu .dropdown-item {
    padding: 0;
    margin-bottom: 6px; }

.menu {
  font-size: 13px;
  font-family: Arial, Helvetica, sans-serif;
  color: #333333; }

.group {
  padding-right: 70px; }
  .group .btn {
    color: gray; }

.en {
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  color: #333333; }

.auth {
  display: flex;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  color: #333333; }
