.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start; }
  .header:hover .header_menu {
    height: 94px; }
  .header:hover .header_logo_region {
    width: 110px; }
  .header_logo {
    padding: 26px 0;
    cursor: pointer;
    width: 110px; }
    .header_logo_region {
      width: 42px;
      overflow-x: hidden;
      transition: width 0.4s linear; }
    .header_logo img {
      width: 110px;
      height: 18px;
      object-fit: cover; }
  .header_menu {
    font-family: 'Gelion-Medium';
    padding-top: 26px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 160px;
    grid-row-gap: 7px;
    font-size: 12px;
    height: 44px;
    max-height: 94px;
    overflow-y: hidden;
    transition: height 0.4s linear; }
    .header_menu .active {
      color: #828282; }
    .header_menu .passive {
      color: #e0e0e0; }
  .header_lang {
    padding-top: 25px;
    font-size: 14px;
    font-family: 'Gelion-Regular', sans-serif; }
  .header_auth {
    display: flex;
    padding-top: 25px;
    font-size: 14px;
    font-family: 'Gelion-Regular', sans-serif; }
