@font-face {
  font-family: 'Gelion-Black';
  font-weight: 700;
  src: url("./Assets/fonts/Gelion-Black.ttf"); }

@font-face {
  font-family: 'Gelion-Bold';
  font-weight: 700;
  src: url("./Assets/fonts/Gelion-Bold.ttf"); }

@font-face {
  font-family: 'Gelion-Medium';
  font-weight: 500;
  src: url("./Assets/fonts/Gelion-Medium.ttf"); }

@font-face {
  font-family: 'Gelion-Regular';
  font-weight: 400;
  src: url("./Assets/fonts/Gelion-Regular.ttf"); }

@font-face {
  font-family: 'Gelion-Light';
  font-weight: 300;
  src: url("./Assets/fonts/Gelion-Light.ttf"); }

@font-face {
  font-family: 'Gelion-Thin';
  font-weight: 300;
  src: url("./Assets/fonts/Gelion-Thin.ttf"); }

@font-face {
  font-family: 'Gelion-SemiBold';
  font-weight: 600;
  src: url("./Assets/fonts/Gelion-SemiBold.ttf"); }

@font-face {
  font-family: 'Roboto-Light';
  font-weight: 300;
  src: url("./Assets/fonts/Roboto-Light.ttf"); }

.address-step {
  background-color: white;
  z-index: 2; }
  .address-step .address-container:last-child {
    margin-bottom: 40px; }
  .address-step .address-container .text-input {
    width: 420px;
    margin-right: 40px; }
    .address-step .address-container .text-input-input {
      width: 420px; }
  .address-step .address-container .address-content {
    margin-top: 40px !important; }
    .address-step .address-container .address-content .address-text {
      font-family: 'Gelion-Regular', sans-serif;
      font-size: 18px;
      margin-bottom: 0px;
      color: #4f4f4f;
      max-width: 310px;
      word-wrap: break-word; }
    .address-step .address-container .address-content .address-coodinates {
      font-family: 'Gelion-Regular', sans-serif;
      font-size: 14px;
      margin-bottom: 0px;
      color: #BDBDBD;
      word-wrap: break-word; }
    .address-step .address-container .address-content .address-detail {
      font-family: 'Gelion-Light', sans-serif;
      font-size: 14px;
      word-wrap: break-word; }
