@import '../../../_fonts.scss';
@import '../../../Variables/_colors.scss';

.address-step {
  background-color: white;
  z-index: 3;
  
  .vertical-line {
    width: 2px;
    height: 90%;
  }

  .address-container {
    &:last-child {
      margin-bottom: 40px;
    }

    .text-input {
      width: 420px;
      margin-right: 40px;

      &-input {
        width: 420px ;
      }
    }

    .address-button {
      border-radius: 50px;
      font-family: 'Gelion-Regular', sans-serif !important;
      font-size: 14px;
      text-transform: none;
      padding-left: 40px;
      padding-right: 40px;
    }

    .address-content {
      margin-top: 40px !important;

      .address-text {
        font-family: 'Gelion-Regular', sans-serif;
        font-size: 18px;
        margin-bottom: 0px;
        color: $gray2;
        max-width: 310px;
        word-wrap: break-word;
      }

      .address-coodinates {
        font-family: 'Gelion-Regular', sans-serif;
        font-size: 14px;
        margin-bottom: 0px;
        color: $grey6;
        word-wrap: break-word;
      }

      .address-detail {
        font-family: 'Gelion-Light', sans-serif;
        font-size: 14px;
        word-wrap: break-word;
      }
    }
  }
}