@font-face {
  font-family: 'Gelion-Black';
  font-weight: 700;
  src: url("./Assets/fonts/Gelion-Black.ttf"); }

@font-face {
  font-family: 'Gelion-Bold';
  font-weight: 700;
  src: url("./Assets/fonts/Gelion-Bold.ttf"); }

@font-face {
  font-family: 'Gelion-Medium';
  font-weight: 500;
  src: url("./Assets/fonts/Gelion-Medium.ttf"); }

@font-face {
  font-family: 'Gelion-Regular';
  font-weight: 400;
  src: url("./Assets/fonts/Gelion-Regular.ttf"); }

@font-face {
  font-family: 'Gelion-Light';
  font-weight: 300;
  src: url("./Assets/fonts/Gelion-Light.ttf"); }

@font-face {
  font-family: 'Gelion-Thin';
  font-weight: 300;
  src: url("./Assets/fonts/Gelion-Thin.ttf"); }

@font-face {
  font-family: 'Gelion-SemiBold';
  font-weight: 600;
  src: url("./Assets/fonts/Gelion-SemiBold.ttf"); }

@font-face {
  font-family: 'Roboto-Light';
  font-weight: 300;
  src: url("./Assets/fonts/Roboto-Light.ttf"); }

.main-wrapper {
  padding: 0 70px;
  display: flex;
  justify-content: center; }
  .main-wrapper .container {
    max-width: 1439px; }


/*  */
* {
  font-family: GelionFont !important;
}

.font-profile-title-color {
  color: #333333;
}

/* .font-grey-color {
  color: #4f4f4f;
} */

.font-greyer-color {
  color: #828282;
}

.step-number {
  font-size: 48px;
  font-weight: bold;
  margin: 0;
}

.step-title {
  font-size: 24px;
  margin: 0;
}

.step-question {
  font-size: 18px;
}

#required-input {
  font-size: 18px;
}

#name-input-helper-text {
  text-align: right;
}

img {
  line-height: 0;
	vertical-align: initial !important;
}

.react-tel-input .form-control {
  margin-top: 10px !important;
  height: 30px !important;
  width: 310px !important;
  border-radius: 0px !important;
  border-top: none !important;
  border-right: none !important;
  border-left: none !important;
  border-bottom: 1px solid grey !important;
}

.react-tel-input .form-control+div:before {
  content : 'Phone number *' !important;
  width: 88px !important;
}

.react-tel-input .selected-flag .flag {
  margin-top: -7px !important;
}